.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border: none !important; /* Remove any borders */
  opacity: 0.5 !important; /* Adjust opacity as needed */
  margin: 0 5px !important; /* Adjust margin as needed */
}

.carousel-indicators .active {
  opacity: 1 !important; /* Make the active indicator fully visible */
}

.carousel-item img {
  filter: grayscale(20%) brightness(70%) blur(0.5px);
}

.carousel-caption {
    text-align: left !important;
    position: absolute !important;
    top: 20% !important;
}

.slide-title {
  font-size: calc(4vh + 5px) !important;
}

.carousel-caption .btn {
  color: #ffffff; 
  font-size: calc(1vh + 5px) !important;
  background-color: rgb(231, 80, 20) !important;
  border: transparent !important;
  border-radius: 0% !important;
}

.carousel-caption .link {
  color: #ffffff;
  font-size: calc(1vh + 5px) !important;
  margin: calc(2vh + 5px) !important;
}