.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border: none !important; /* Remove any borders */
  opacity: 0.5 !important; /* Adjust opacity as needed */
  margin: 0 5px !important; /* Adjust margin as needed */
}

.carousel-indicators .active {
  opacity: 1 !important; /* Make the active indicator fully visible */
}

.carousel-item img {
  filter: grayscale(20%) brightness(70%) blur(0.5px);
}

.hst-plan {
  border: 1px solid #dbe3e7; }

.plan-list {
  padding: 38px; }
     
.search {
  margin: 0;
  padding: 35px 15%; 
  background-color: hsl(200, 70%, 60%);
  color: white;
  border: none;
}

.custom-input {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.custom-search,
.custom-button {
  height: 60px !important;
  border-radius: 0 !important; /* Remove border radius */
}
.custom-button {
  background-color: hsl(16, 100%, 65%) !important;
  border-color: hsl(16, 100%, 65%) !important;
  width: 150px !important;
  font-weight: 500 !important;
  font-size: small !important;
}

.custom-search:focus {
  box-shadow: none !important; /* Remove shadow on focus */
}

.custom-button:focus {
  outline: none !important; /* Remove blue outline on focus */
}

.form-title,
.custom-search {
  font-size: 30px !important;
}
.form-title {
  font-weight: 400;
  line-height: 1; /* Adjust line height */
}
.form-title strong {
  font-weight: bold;
}
.col-md-9 p {
  margin: 10px;
}
/* Increase width of the navigation tab */
#pills-tab {
  width: 100%;
}
/* Set background color for active tab */
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
    background-color: white !important;
    font-weight: bold;
  }

/* Set background color for inactive tabs */
.nav-pills .nav-link:not(.active) {
    background-color: hsl(184, 99%, 99%) !important; /* gray */
    
}
.nav-pills .nav-link {
  color: black !important;
}
/* Set background color for active tab */
.nav-pills .nav-link.active {
  background-color: white !important;
}

/* Set background color for inactive tabs */
.nav-pills .nav-link:not(.active) {
  background-color: (184, 98%, 98%) !important; /* gray */
  
}

/* Remove hover effect */
.nav-pills .nav-link:hover {
  background-color: (184, 99%, 99%) !important;
}

.carousel-caption {
    text-align: left !important;
    position: absolute !important;
    top: 20% !important;
}

.slide-title {
  font-size: calc(4vh + 5px) !important;
}

.carousel-caption .btn {
  color: #ffffff; 
  font-size: calc(1vh + 5px) !important;
  background-color: rgb(231, 80, 20) !important;
  border: transparent !important;
  border-radius: 0% !important;
}

.carousel-caption .link {
  color: #ffffff;
  font-size: calc(1vh + 5px) !important;
  margin: calc(2vh + 5px) !important;
}